.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer h5, .footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footer p a {
  color: #68a2b9;
  text-decoration: underline;
  font-size: small;
}